Package: me.shymemoriees.randomeme
Name: randoMeme
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Memes. Just Memes.
After you respring it plays one of 28 meme sound effects.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Twaks
