Package: me.shymemoriees.randomeme
Name: randoMeme
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Memes. Just Memes. After you respring it plays one of 28 meme sound effects.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks
Version: 1.0-10+debug
Installed-Size: 2532
